.list-container {
  width: 500px;
  max-width: 100%;
  margin: 0 0 25px 0;
  display: inline-block;
  vertical-align: top;
}

.jumbotron {
  padding: 15px 10px;
}

.drag-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 500px;
}

.order-details {
  margin-top: 10px;
}

.order-price .ant-descriptions-item-content {
  color: #ff4d4f;
}

.description-details .ant-descriptions-item-label::after {
  content: "";
}

.drag-list.fixed {
  margin-top: 15px;
}

.status-primary {
  color: #ffad40;
}
.used{
  color: grey;
  width: 100%;
}
.drag-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  width: 500px;
}
.images-container {
  overflow: auto;
}

.images-container img {
  max-height: 200px;
  object-fit: contain;
  object-position: center;
}

.order-image {
  border-radius: 10px;
}
.order-image.right {
  max-height: 100px;
  object-fit: contain;
  object-position: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-box:first-child {
  border-top: none;
  border-left: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.delete-drag {
  color: #ff4d4f;
  font-size: 18px;
  cursor: pointer;
}

.edit-drag {
  color: #ffad40;
  font-size: 18px;
  cursor: pointer;
}

.filter-drug-list {
  width: 120px;
}

small {
  font-style: italic;
}

.edit-group {
  cursor: pointer;
  margin-top: 10px;
}

.delete-group {
  color: #ff4d4f;
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.suborder-title {
  color: #ff4d4f;
}

nz-date-picker {
  width: 100%;
}

.price-control {
  width: 70px;
  margin-bottom: 0;
}

.drag-filter {
  width: 120px;
}

.action-buttons {
  margin-top: 60px;
}

.no-border {
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-input-suffix {
  margin-left: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
