.service-card {
  width: 100%;
  // background: linear-gradient(227.49deg, #25a27c 20.95%, #38dfac 77.12%);
  padding: 15px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  &.active {
    border-color: #ef0505;
  }  
  small{
    color: white;
    font-size: 12px;
  } 
}

.white-background {
  padding: 5px 10px;
  box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);
  background: white;
  border: 1px solid #e8ecee;
  p {
    color: #212121;
    font-size: 14px;
  }
  img {
    width: 35px;
    height: 35px;
  }
  .action-buttons {
    // top: 50%;
    // transform: translateY(-50%);
    button {
      &.delete i {
        color: #ff5252;
      }
      &.edit i {
        color: #ffad40;
      }
    }
  }
}

img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
}

p {
  margin: 0;
  text-align: right;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  &.stat-text {
    font-size: 14px;
  }
}

.action-buttons {
  top: 0px;
  right: 0px;
  button {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    i {
      font-size: 14px;
      color: white;
    }
  }
}
