textarea::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

textarea::-webkit-scrollbar
{
  width: 5px;
  background-color: #ffad40;
}

textarea::-webkit-scrollbar-thumb
{
  background-color: #ffad40;
  border: 2px solid #ffad40;
}
textarea {
  resize: none;
}
