.upload{
  margin: 0 2px;
}

.add-photo {
  width: 130px;
  height: 60px !important;
  border-radius: 6px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.success-icon {
  color: #52c41a;
}
img{
  width: 150px;
  margin-top: 5px;
}
//.preview-image{
//  height: 60px;
//  width: 100%;
//  object-fit: cover;
//  object-position: center;
//}
