.preview-image {
  margin: 10px 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.specialization {
  margin-top: 5px;
}

.specialization p {
  margin: 0;
}

.inline-labels {
  padding-left: 0 !important;
}

.success-icon {
  color: #52c41a;
}

.document {
  margin-bottom: 5px;
}

.document p {
  margin: 0;
}

nz-time-picker {
  width: 100%;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #ffad40;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ffad40;
  border: 2px solid #ffad40;
}

textarea {
  resize: none;
}

.icon-message {
  color: #ffad40;
  font-size: 28px;
  cursor: pointer;
}
