.edit {
    width: 10px;
}

.status-filter {
    width: 200px;
}
.m-left-5{
    margin-left: 5px;
}
.ant-table-tbody{
    background: white;
}
:host::ng-deep{
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 3px 13px !important;
    }
}
.comment{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    display: inline-block;
    white-space: nowrap;
}