<div class="title-container d-flex align-items-center justify-content-between">
  <app-section-title title="Заказы"></app-section-title>
  <nz-select nzPlaceHolder="Фильтр по категориям" [formControl]="statusFilterControl" class="status-filter">
    <nz-option nzValue="" nzLabel="Все"> </nz-option>
    <nz-option *ngFor="let status of orderStatuses" [nzValue]="status.order_status.code"
      [nzLabel]="status.title[0]?.value">
    </nz-option>
  </nz-select>
</div>
<nz-table nzBordered (nzPageIndexChange)="nzPageIndexChange($event)" #userTable [nzData]="orders" [nzTotal]="total"
  [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>N</th>
      <th>Имя</th>
      <th>Назало заказа</th>
      <th>Сервисы</th>
      <th>Продукты</th>
      <th>Диспуты</th>
      <th>Подзаказы</th>
      <th>Статус</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of userTable.data; let ind = index">
      <td style="width:10px">{{ ind + 1 }}</td>
      <td style="width: 300px">
        {{ data.user?.user_name }} <br />
        {{ data.user?.phone_number }}
      </td>
      <td>{{data.start_date | date:'yyyy-MM-dd'}}</td>
      <td>{{data.ordered_subservice_count}}</td>
      <td>{{data.ordered_product_count}}</td>
      <td>{{data.disput_count}}</td>
      <td>{{data.suborders_count}}</td>
      <td>{{data.status[0]?.value}}</td>
      <td [routerLink]="['/dashboard/orders', data.id]" class="action-button edit">
        <i nz-icon nzType="edit"></i>
      </td>
    </tr>
  </tbody>
</nz-table>