<div class="services-container d-flex flex-wrap">
  <div class="categories-container">
    <div class="action-section d-flex align-items-center justify-content-between w-100">
      <p>Сервисы</p>
      <button (click)="onAddCategory()" nz-button nzType="default" nzShape="circle"><i nz-icon
          nzType="plus"></i></button>
    </div>
    <ng-container *ngIf="categories?.length > 0">
      <div class="cascade-link-item" *ngFor="let category of categories;let i=index">
        <app-service-list-card (cardClicked)="getSubCategoriesByCategory(category, i)" (edit)="onEditCategory(i)"
          [active]="activeCategory?.id === category.id" [workloadPercent]="category.workload_percent"
          [specialistsCount]="category.specialists_count" [description]="category.description_ru"
          [title]="category.name_ru" [img]="category.icon" [colorOne]="category.color"
          (delete)="deleteCategory(category.category.id, i)"></app-service-list-card>
      </div>
    </ng-container>
  </div>
  <div class="subcategories-container" *ngIf="activeCategory">
    <div class="action-section d-flex align-items-center justify-content-between w-100">
      <p>Подкатегории</p>
      <button (click)="onAddSubcategory()" nz-button nzType="default" nzShape="circle"><i nz-icon
          nzType="plus"></i></button>
    </div>
    <ng-container *ngIf="subCategories?.length > 0">
      <div class="cascade-link-item" *ngFor="let subcategory of subCategories; let i = index">
        <app-service-list-card (cardClicked)="getServicesBySubcategory(subcategory, i)"
          (delete)="deleteSubcategory(subcategory.id, i)" (edit)="onEditSubcategory(i)"
          [title]="subcategory.name_en" [img]="subcategory.icon"
          [active]="activeSubcategory?.id === subcategory.id"></app-service-list-card>
      </div>
    </ng-container>
  </div>
  <div class="product-container" [ngClass]="{'hide':activeSubcategory == undefined}">
    <div class="action-section d-flex align-items-center justify-content-between w-100">
      <p>Сервисы</p>
      <button (click)="onAddService()" nz-button nzType="default" nzShape="circle"><i nz-icon
          nzType="plus"></i></button>
    </div>
    <ng-container *ngIf="services?.length > 0">
      <div class="cascade-link-item" *ngFor="let service of services;let i = index">
        <app-service-item (cardClicked)="getSubservicesByService(service, i)"
          (delete)="deleteService(service.id, i)" (edit)="onEditService(i)"
          [active]="services[activeServiceIndex]?.id === service.id" [title]="service.name_en"
          [description]="service.description_en">
        </app-service-item>
      </div>
    </ng-container>
  </div>

  <div class="product-container" [ngClass]="{'hide':activeServiceIndex == undefined}">
    <div class="action-section d-flex align-items-center justify-content-between w-100">
      <p>Подсервисы</p>
      <div>
        <button class="mr-2" (click)="onEditSubservice()" nz-button nzType="default" nzShape="circle">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <!--        <button (click)="onAddSubservice()" nz-button nzType="default" nzShape="circle">-->
        <!--          <i nz-icon nzType="plus"></i>-->
        <!--        </button>-->
      </div>
    </div>
    <ng-container *ngIf="subservices?.length > 0">
      <div class="cascade-link-item" *ngFor="let subservice of subservices;let i = index">
        <app-service-item (delete)="deleteService(subservice.id, i)" [hideActions]="true"
          [price]="subservice.price" [title]="subservice.name_ru">
        </app-service-item>
      </div>
    </ng-container>
  </div>

</div>

<ng-container *ngIf="showCategoryActions">
  <app-create-edit-category [activeCategory]="activeCategory" [isEdit]="isEditing" (close)="hideCategoryActions()"
    (save)="handleCategoryChange($event)"></app-create-edit-category>
</ng-container>
<ng-container *ngIf="showSubcategoryActions">
  <app-create-edit-subcategory [activeSubcategory]="activeSubcategory" [isEdit]="isEditing"
    (close)="hideCategoryActions()" (save)="handleSubcategoryChange($event)"></app-create-edit-subcategory>
</ng-container>
<ng-container *ngIf="showServiceActions">
  <app-create-edit-service [service]="services[activeServiceIndex]" [isEdit]="isEditing" (close)="hideCategoryActions()"
    (save)="handleServiceChange($event)"></app-create-edit-service>
</ng-container>
<ng-container *ngIf="showSubserviceActions">
  <app-create-edit-subservice [subservices]="subservices" [isEdit]="isEditing" (close)="hideCategoryActions()"
    (save)="handleSubserviceChange($event)"></app-create-edit-subservice>
</ng-container>