.card-content {
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.ant-card-bordered {
    border: 1px solid #9fbbd4;
}

.ant-card-body {
    padding: 12px 24px;
}

.preview-image{
    margin: 10px 0;
    border-radius: 10px;
}

.success-icon{
    font-size: 20px;
    margin-left: 10px;
    color:#52c41a;
}

textarea::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

textarea::-webkit-scrollbar
{
  width: 5px;
  background-color: #ffad40;
}

textarea::-webkit-scrollbar-thumb
{
  background-color: #ffad40;
  border: 2px solid #ffad40;
}

textarea {
  resize: none;
}
