<nz-card [nzBordered]="true" [nzTitle]="essenceLabel" [nzExtra]="extraTemplate">
  <div class="card-content">
    <ng-container *ngFor="let item of itemsList; let i = index">
      <app-essence-list-item-label [index]="i + 1" (onEdit)="editEssenceItem(i)" (onDelete)="handleDelete($event)"
        [id]="item.id"
        [label]="item?.name_ru"></app-essence-list-item-label>
    </ng-container>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <button *ngIf="type != 'terms'" class="add-essence" nz-button nzType="primary" (click)="addEssence()">
    Добавить
  </button>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="buttonLabel" (nzOnCancel)="closeModal()" (nzOnOk)="handleOk()"
  nzWidth="800px">
  <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-label class="inline-labels" nzRequired>Название на русском</nz-form-label>
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="essenceTitleInRussian" type="text" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-label class="inline-labels" nzRequired>Название на английском</nz-form-label>
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="essenceTitleInEnglish" type="text" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-label class="inline-labels" nzRequired>Название на грузинском</nz-form-label>
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="essenceTitleInGeorgian" type="text" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <ng-container *ngIf="type == 'measurement-type'">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-label class="inline-labels" nzRequired>Код</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="code" type="text" placeholder="" maxlength="5"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="type == 'help'">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-label class="inline-labels" nzRequired>Описание на русском</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <textarea formControlName="descriptionInRussian" nz-input rows="3" placeholder=""></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-label class="inline-labels" nzRequired>Описание на английском</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <textarea formControlName="descriptionInEnglish" nz-input rows="3" placeholder=""></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-label class="inline-labels" nzRequired>Описание на грузинском</nz-form-label>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <textarea formControlName="descriptionInGeorgian" nz-input rows="3" placeholder=""></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </ng-container>

  </form>
  <nz-upload *ngIf="type == 'specialization'" [nzShowUploadList]="false" (nzChange)="handleChange($event)"
    [nzHeaders]="{ authorization: 'authorization-text' }">
    <div class="d-flex align-items-center">
      <button nz-button><i nz-icon nzType="upload"></i>Выберите файл</button>
      <i *ngIf="validateForm.get('icon').value" class="success-icon" nz-icon nzType="check-circle"></i>
    </div>
    <img *ngIf="isEditing" class="img-fluid preview-image"
      [src]="itemsList[editingEssenceIndex]?.icon" />
  </nz-upload>
</nz-modal>

<ng-template #userErrorTpl let-control>
  <ng-container *ngIf="control.hasError('required')">
    Это обязательное поле
  </ng-container>
</ng-template>