<div class="title-container">
    <app-section-title title="Диспуты"></app-section-title>
    <nz-select nzPlaceHolder="Фильтр по категориям" [formControl]="statusFilterControl" class="status-filter">
        <nz-option nzValue="" nzLabel="Все"> </nz-option>
        <nz-option *ngFor="let status of disputStatuses" [nzValue]="status.id"
            [nzLabel]="status.name_ru">
        </nz-option>    
    </nz-select>
</div>

<nz-table (nzPageIndexChange)="nzPageIndexChange($event)" #addTable [nzData]="disputs" [nzTotal]="total"
    [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzFrontPagination]="false" class="table">
    <thead>
        <tr>
            <th>N</th>
            <th>Дата</th>
            <th>Номер заказа</th>
            <th>Заказчик</th>
            <th>Исполнитель</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of addTable.data;let ind=index">
            <td style="width:50px">{{ind + 1}}</td>
            <td style="width:200px">{{data.created_at | date:'yyyy-MM-dd'}}</td>
            <td style="width: 250px">{{data.order_number}}</td>
            <td style="width:200px">{{data?.customer?.first_name}} {{data?.customer?.last_name}}</td>
            <td style="width:200px">{{data?.executor?.first_name}} {{data?.executor?.last_name}}</td>
            <td style="width:200px">{{data.status?.name_ru}}</td>
            <td [routerLink]="['/dashboard/disput', data.id]" class="action-button edit" style="width:10px"><i nz-icon
                    nzType="edit"></i>
            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #tagPlaceHolder let-selectedList> + {{ selectedList.length }}</ng-template>