.jumbotron{
  padding: 15px 10px;
}

.disput-details {
  margin-top: 10px;
  width: 49%;
}
.order-details{
  width: 45%;
}
.m-left-5{
  margin-left: 5px;
}
.disput-image {
  margin: 10px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.description-details .ant-descriptions-item-label::after {
  content: '';
}

.m-top-60 {
  margin-top: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


