.success-icon {
    color: #52c41a;
}

.inline-labels {
    padding-left: 0 !important;
}

.preview-image {
    margin: 10px 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}
