<a (click)="onSelectRoom()" class="list-group-item list-group-item-action  rounded-0" [class.active]="active">

  <div class="media">
    <nz-avatar nzIcon="user" [nzSize]="40" [nzSrc]="member.user.image"></nz-avatar>
    <!-- <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user"
      width="50" class="rounded-circle"> -->
    <div class="media-body margin-top-7 ml-4">
      <div class="d-flex align-items-center justify-content-between mb-1">
        <h6 class="mb-0 d-flex align-items-center">{{member.user.first_name + ' ' + member.user.last_name}}</h6>
        <div class="unread-message" *ngIf="room.unseen_message_count > 0">
          <nz-badge [nzOverflowCount]="9" nzStandalone [nzCount]="room.unseen_message_count"></nz-badge>
        </div>
        <small class="small">{{room.room.last_message_date | date: 'dd/MM/yyyy HH:mm'}}</small>
      </div>
      <p *ngIf="room.room.last_message" class="mb-0 last-message text-small">{{room.room.last_message}}</p>
    </div>

  </div>
  <div
    [ngClass]="{'client-color':member.user.user_role.code == 'CL','executor-color': member.user.user_role.code == 'EXC'}">
    {{member.user.user_role.code == 'CL'?'Заказчик':'Исполнитель'}}
  </div>
</a>